---
import Layout from "@layout/index.astro";
import Toc from "@components/page/Toc.astro";
import Description from "@components/page/Description.astro";
import Format from "@assets/doc/format.md";
import Schedule from "@components/page/Schedule.astro";

const toc_data = [
	{ text: "活動簡介", link: "#description" },
	{ text: "重要日期", link: "#dates" },
	{ text: "投稿須知", link: "#submission" },
	{ text: "評審標準", link: "#criteria" },
	{ text: "聯絡我們", link: "#contact" }
];

const schedule = [
	{ date: new Date("2025-01-11"), event: "XX截止" },
	{ date: new Date("2025-10-15"), event: "YY公布" },
	{ date: new Date("2025-10-15"), event: "ZZ發表" }
];
---

<Layout>
	<div id="index">
		<Toc data={toc_data} />
		<Description />
		<Format />
		<Schedule schedule={schedule} />
	</div>
</Layout>

<style>
	#index {
		background-color: #707070;
		color: #ffffff;
		padding: 2rem;
	}
</style>
