---
---

<section id="intro">
	<p>
		身處 2026，作為資訊人與學生的我們，正身在時代變革的風口浪尖。AI 的崛起挑戰了傳統的開發模式，定義資訊人價值的技術壁壘正逐漸崩塌。當創造的權力民主化，舞台上便充斥著各式各樣的聲音。當個體不再是創造的唯一單位，「協作」的技藝便成了我們最重要的課題，等著我們的是與 AI 共譜、與同儕齊奏、與跨域夥伴合鳴的一片混亂。
	</p>
	<p>
		但，如果「亂」不是阻礙，而是創造的起點呢？我們不妨借鑑音樂人的 Jam Session。在即興演奏的 Jam Session 中，最關鍵的不再是彈奏最快的音符；關鍵在最懂得聆聽的樂手，理解、詮釋、預測每個合奏者的需求，並在與各路夥伴的互動中，創造價值。然而，當我們與 AI、同儕、跨域夥伴等不同樂手同台，這場 Jam 也將迎來各自的變奏與挑戰。
	</p>
	<p>
		與 AI Jam，我們該主動定義協作的界線。過度依賴 AI 讓我們失去深度思考，完全拒絕 AI 又讓我們錯失效率革命。作為可能是最後一批「純人工」學習程式設計的世代，我們尋找能讓開發者靈魂延續的方法。
	</p>
	<p>
		與資訊同儕 Jam，我們該重新定義何謂「價值」。將重心從個人技術的深度，轉向整合眾人智慧的廣度。在持續精進自身能力的同時，更要學習如何引導、聆聽，在分歧中凝聚出更強大的共識。
	</p>
	<p>
		與跨域夥伴 Jam，我們該主動擔任跨界交響樂的譯者。當資訊不再是我們的專利，將我們的技術語言，轉譯成能與數學、物理學家乃至設計師、藝術家能共鳴的旋律，共同創造全新的價值。
	</p>
	<p>
		當 Jam 的節拍對不上，就讓我們一起創造新的節拍。<br />當 Jam 的合聲不完美，這正是我們這個世代，兼容並蓄、豪邁不羈、百家爭鳴的聲音。
	</p>
	<p>
		在 SITCON 2026，我們邀請你一起加入這場 Jam。讓我們駕馭混沌，在紛亂中找到節奏，在協作中尋求共鳴。
	</p>
</section>
<style>
	#intro {
		max-width: 60rem;
		margin: 0 auto;
		padding: 4rem 2rem;
		line-height: 1.6;
		position: relative;
	}

	h2 {
		font-size: 1.8rem;
		font-style: italic;
		text-align: center;
		margin-bottom: 4rem;
		line-height: 2;
	}

	p {
		font-size: 1.1rem;
		margin-bottom: 1rem;
		line-height: 1.6;
	}

	@media (max-width: 768px) {
		h2 {
			font-size: 1.5rem;
		}

		p {
			line-height: 2;
			letter-spacing: 0.1rem;
		}
	}
</style>
