<section id="intro">
	<h2>舊日的和諧，已不足以詮釋當下；<br />而新的樂章，仍在混沌中萌芽。<br />在這新舊交替的聲響中，我們譜著資訊人明日的樂章。</h2>
	<p>
		身處 2026，做為資訊人與學生的我們，似乎與「確定」的生活越發無緣。AI 的崛起挑戰了傳統的開發模式；技術的民主化又讓門檻逐漸消失。創造價值的工作已然從個體轉為團隊。於是，協作的技藝 ── 如何與 AI
		共譜、與同儕齊奏、與跨域夥伴合鳴 ── 便成了這個時代最重要的課題。
	</p>
	<p>然而，討論協作引發的混沌前，或許我們需要重新定義何謂「和諧」。</p>
	<p>
		與 AI 協作的平衡點在哪裡？過度依賴 AI 讓我們失去深度思考，完全拒絕 AI
		又讓我們錯失效率革命。作為可能是最後一批「純人工」學習程式設計的世代，我們站在一個獨特的歷史節點。既理解傳統開發的本質，又面對著全新的協作模式。
	</p>
	<p>
		與人協作的平衡點又為何？當一眾資訊人齊聚一堂，我們怎麼凝聚共識，對齊願景，確保大家能和諧的創造同一個使命。更甚至，當資訊不再是資訊人的專利 ——
		設計、生物、物理甚至音樂、藝術都開始接納資訊科技時，我們該怎麼與背景各自不同的人們協作？
	</p>
</section>
<style>
	#intro {
		max-width: 50rem;
		margin: 0 auto;
		padding: 4rem 2rem;
		line-height: 1.6;
	}

	h2 {
		font-size: 1.8rem;
		font-style: italic;
		text-align: center;
		margin-bottom: 4rem;
		line-height: 2;
	}

	p {
		font-size: 1.1rem;
		margin-bottom: 1rem;
	}
</style>
