---
const { btn_url } = Astro.props;

import StarIcon from "@assets/desc_page/star.svg";

import BannerBgIcon from "@assets/desc_page/banner_bg_icon.webp";
---

<div class="banner">
	<h3 class="banner-text">
		那段未曾被聽見的旋律，等著在混沌中覺醒。
		<br />
		現在是你的使命，投下專屬於你的作品，為失序添上一抹即興，喚起共鳴。
	</h3>
	<img src={BannerBgIcon.src} class="bg-icon" alt="banner background" />
	<h2 class="banner-title">別再猶豫，讓樂音在這場年會中響起！</h2>

	<a class="banner-button" href={btn_url} target="_blank" rel="noopener" aria-label="立即投稿">
		<StarIcon height="2rem" />
		<span> 立即投稿 </span>
		<StarIcon height="2rem" />
	</a>
</div>

<style>
	.banner {
		position: relative;
		padding: 28rem 4rem 8rem 4rem;
		width: 100%;
		background: white;
		mask-image: linear-gradient(to bottom, transparent, white 20%);
		-webkit-mask-image: linear-gradient(to bottom, transparent, white 20%);
	}

	.banner-text {
		display: inline-block;
		font-size: 2rem;
		max-width: 100%;
		text-wrap: balance;
		line-height: 5rem;
		padding: 2rem 0;
		background: linear-gradient(90deg, #2aa6ff, #009dff, #f8981d, #e84b1c);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
	}

	.banner-title {
		font-size: 5rem;
		padding: 2rem 0;
		background: linear-gradient(90deg, #2aa6ff, #009dff, #f8981d, #e84b1c);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		text-wrap: balance;
	}

	.banner-button {
		display: flex;
		flex-wrap: wrap;
		border-radius: 6.25rem;
		color: #ffffff;
		background: #010121;
		width: 100%;
		font-size: 2rem;
		line-height: 4.5rem;
		font-weight: bold;
		align-items: center;
		justify-content: center;
		margin: 4.5rem 0;
	}

	.bg-icon {
		position: absolute;
		max-width: 20rem;
		top: 17rem;
		right: 3rem;
		opacity: 0.1;
		pointer-events: none;
		z-index: 0;
	}

	@media (max-width: 768px) {
		.banner-button {
			font-size: 1.5rem;
		}
	}
</style>
