---
const { title } = Astro.props;
---

<div class="content">
	<h2>{title}</h2>
	<div class="divider"></div>
	<p class="content-text">
		<slot />
	</p>
</div>

<style>
	.content {
		margin-top: 1rem;
	}
	
	.divider {
		height: 0.25rem;
		width: 100%;
		background: #ffffff;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.content-text {
		text-align: justify;
		word-break: break-word;
		line-height: 2;
		letter-spacing: 0.1rem;
		color: #c4c4c4;
	}
</style>
