<div class="md-body">
	<slot />
</div>

<style is:global>
	.md-body {
		word-break: break-word;
		color: #c4c4c4;
	}

	a {
		color: #9eb7d9;
	}

	.md-body h2,
	.md-body h3 {
		margin: 2rem 0 0.7rem;
		color: white;
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: 0.1rem;
	}

	.description p:last-child {
		margin-bottom: 0;
	}
</style>
