<div class="md-body">
	<slot />
</div>

<style is:global>
	.md-body {
		line-height: 2;
		letter-spacing: 0.1rem;
		word-break: break-word;
		color: #c4c4c4;
		text-align: justify;
	}

	.md-body a {
		color: #86aee5;
		text-decoration: underline;
	}

	.md-body h2,
	.md-body h3 {
		margin: 0.7rem 0;
		font-weight: bold;
		color: white;
	}
</style>
