<div class="description">
	<h3>海報投稿說明</h3>
	<div class="divider"></div>
	<p class="content">
		海報投稿以靜態海報展出學生個人或團隊專案研究作品，作品以資訊相關領域為主，不限語言，不接受一稿多投，若為延伸作品需於投稿時載明。期望透過此方式使更多學生能有展現自我的機會，同時為會眾帶來不同形式的學習與交流。
	</p>
</div>

<style>
	.divider {
		height: 0.25rem;
		width: 100%;
		background: #ffffff;
	}

	.content {
		line-height: 2;
		letter-spacing: 0.1rem;
		color: #c4c4c4;
	}
</style>
