<div class="description">
	<h2>議程說明</h2>
	<p class="description-text">
		<slot />
	</p>
</div>

<style>
	.description {
		text-align: center;
		border-radius: 2rem;
		border: 0.2rem solid;
		border-color: #ffffff;
		background: rgba(255, 255, 255, 0.18);
		max-height: 25rem;
		padding: 1.5rem 3.5rem 1.5rem 3.5rem;
	}

	h2 {
		font-size: 2.5rem;
		font-weight: 700;
	}

	.description-text {
		font-size: 1.5rem;
		margin-top: 1rem;
		text-align: justify;
		font-weight: 500;
		line-height: 2;
		letter-spacing: 0.1rem;
		color: #c4c4c4;
	}
</style>
