---
const { title, description = "", content } = Astro.props;
import IconOptional from "@assets/desc_page/field_optional.svg";
import IconRequired from "@assets/desc_page/field_required.svg";
import IconPublish from "@assets/desc_page/field_publish.svg";
---

<div class="field">
	<div class="field-head">
		<h3 class="field-title">
			{title}
		</h3>
		<div class="field-description">
			<div><IconRequired width="1.5rem" height="1.5rem" /> 必填</div>
			<div><IconOptional width="1.5rem" height="1.5rem" /> 選填</div>
			<div><IconPublish width="1.5rem" height="1.5rem" /> 公開</div>
		</div>
	</div>
	{
		content.map((ctx: { title: string; detail: string; optional: boolean; publish: boolean }) => (
			<div class="field-item">
				<div>
					<h3 class="field-item-title">{ctx.title}</h3>
					<p class="field-item-description">{ctx.detail}</p>
				</div>
				<div class="field-icon-bar">
					{ctx.optional ? <IconOptional width="2.5rem" /> : <IconRequired width="2.5rem" />}
					{ctx.publish ? <IconPublish width="2.5rem" /> : null}
				</div>
			</div>
		))
	}
</div>

<style>
	.field-head {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem 2rem;
		padding: 1rem 2rem;
		min-height: 5.6rem;
		align-items: center;
		justify-content: space-between;
		line-height: 1.5rem;
		border-radius: 1.5rem 1.5rem 0.5rem 0.5rem;
		background: #345b92;
		margin-bottom: 0.4rem;
	}
	.field-description {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		border-radius: 0.75rem;
		text-align: center;
		color: #000000;
		background-color: var(--white);
		font-size: 1.25rem;
		min-height: 1.5rem;
		padding: 0.6rem 1rem;
		max-width: 30rem;
		line-height: 1.8rem;
	}
	.field-description > div {
		display: flex;
		align-items: center;
		white-space: nowrap;
		gap: 0.25rem;
		line-height: 1;
	}
	.field-title {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.1rem;
	}
	.field-item {
		padding: 1.5rem 3rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 0.5rem;
		background: var(--white);
		margin-bottom: 0.4rem;
	}
	.field-item-title {
		font-size: 1.6rem;
		letter-spacing: 0.1rem;
		margin-bottom: 0.3rem;
		color: black;
	}
	.field-item-description {
		font-size: 1rem;
		word-break: break-word;
		max-width: 40rem;
		color: black;
		margin-bottom: 0;
	}
	.field-icon-bar {
		margin-left: 0.8rem;
		display: flex;
		gap: 0.5rem;
	}

	@media (max-width: 768px) {
		.field-item {
			display: block;
			padding: 1.5rem;
		}
		.field-icon-bar {
			margin: 1rem 0 0 0;
		}
		.field-icon-bar svg {
			width: 2rem;
			height: 2rem;
		}
	}
</style>
