<div class="md-body">
	<slot />
</div>

<style is:global>
	.md-body {
		line-height: 2;
		letter-spacing: 0.1rem;
		color: #c4c4c4;
	}

	.md-body h2,
	.md-body h3 {
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-weight: bold;
		color: white;
	}
</style>
